{% extends "base.html" %}

{% block title %}{{ mapgroup.name }}{% endblock %}

{% block page_header %}
	<a href="{% url 'mapgroups:list' %}" class="btn btn-success"><span class="icon">←</span> Back to group list</a>
{% endblock %}

{% block content %}
<h1>{{ mapgroup.name }}</h1>
<h2>{{ mapgroup.blurb }}</h2>
<p>Owned by: {{ mapgroup.owner.get_short_name }}</p>

{% if request.user == mapgroup.owner %}

<a href="{% url 'mapgroups:edit' mapgroup.pk mapgroup.slug %}">Edit Map Group</a>

{% endif %}



<hr>
{% if user_is_member %}
You are a member of this group. <button disabled>Leave group</button>


{% else %}
<h3>Join this Group</h3>

You are NOT a member of this group.

{% if mapgroup.is_open %}
(open)
<form method="POST" action="{% url 'mapgroups:join' mapgroup.pk mapgroup.slug %}">
    {% csrf_token %}
    <input type="submit" value="Click this button">
</form>
{% else %}
(closed)
<form method="POST" action="{% url 'mapgroups:request-join' mapgroup.pk mapgroup.slug %}">
    {% csrf_token %}
    <input type="submit" value="Click this button">
</form>
{% endif %}
{% endif %}

<hr>

<p>Members:</p>
<ol>
    {% for member in mapgroup.mapgroupmember_set.all %}
    <li>
        <img src="{{ member.user.userdata.profile_image }}" width="32" height="32" />

        {% if membership %}
            <b>{{ member.user_name_for_group }}</b> <!-- Show real name -->
        {% else %}
            <b>{{ member.user.get_short_name }}</b> <!-- Show pref name -->
        {% endif %}

        {% if member.user == mapgroup.owner %}
            (owner)
        {% endif %}

        {% if member.user == request.user %}
            (you)
            <form method="POST"
                  action="{% url 'mapgroups:preferences' mapgroup.pk mapgroup.slug %}">
                {% csrf_token %}
                {{ preferences_form.as_p }}
                <script>
                    document.querySelector('#id_show_real_name').onclick = function() {
                        this.form.submit();
                    };
                </script>
            </form>
        {% endif %}

        {% if membership %}


        {% endif %}


    </li>
    {% endfor %}
</ol>

{% if shared_items %}
    <p>Shared Items</p>
    <ul>
        {% if shared_items.bookmarks %}
        <li>Shared Maps
            <ul>
                {% for object in shared_items.bookmarks %}
                    <li>{{ object.name }}</li>
                {% empty %}
                    <li>No shared maps.</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if shared_items.scenarios %}
        <li>Shared Scenarios
            <ul>
                {% for object in shared_items.scenarios %}
                    <li>{{ object.name }}</li>
                {% empty %}
                    <li>No shared scenarios.</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if shared_items.leaseblock_selections %}
        <li>Shared Lease Block Selections
            <ul>
                {% for object in shared_items.leaseblock_selections %}
                    <li>{{ object.name }}</li>
                {% empty %}
                    <li>No shared lease block selections.</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if shared_items.drawings %}
        <li>Shared Drawings
            <ul>
                {% for object in shared_items.drawings %}
                    <li>{{ object.name }}</li>
                {% empty %}
                    <li>No shared drawings.</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if shared_items.windenergysites %}
        <li>Shared Wind Energy Sites
            <ul>
                {% for object in shared_items.windenergysites %}
                    <li>{{ object.name }}</li>
                {% empty %}
                    <li>No shared wind energy sites.</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}
