{% extends "base.html" %}

{% block title %}Join a map group{% endblock %}
{% block page_title %}Join a map group{% endblock %}

{% block content %}
<div class="page-body">
    <style>
        .detail .media-detail .media-inner > a { border-top: none };
    </style>

    <p class="rich-text">Groups are an opportunity to share information and
        resources with like-minded ocean users. You can browse groups here and
        request to join groups that are open to the public. Don&rsquo;t see the
        group you are looking for? Create your own group &mdash; anyone can
        start a group.</p>

    <a class="btn btn-success btn-lg" href="{% url 'mapgroups:create' %}">To create your own map group, click here.</a><br />
    {% if featured_mapgroups %}
    <h3>Featured Map Groups</h3>
    <div class="grid-view">
        {% for featured in featured_mapgroups %}
            {% include 'mapgroups/mapgroup_list_one.html' with mapgroup=featured.map_group %}
        {% endfor %}
    </div>
    {% endif %}

    <h3>Member Groups</h3>
    <div class="grid-view">
        {% for mg in mapgroups %}
            {% include 'mapgroups/mapgroup_list_one.html' with mapgroup=mg %}
        {% endfor %}
    </div>
</div>

{% endblock %}

