{% extends "base.html" %}

{% block content %}
<h2>{{ mapgroup.blurb }} </h2>
<a href="{% url 'mapgroups:list' %}">&larr; Back to group list</a>

<hr>

<p>Owned by: {{ mapgroup.owner }}</p>


<hr>
{% if user_is_member %}
You are a member of this group. <button disabled>Leave group</button>

<form method="POST"
      action="{% url 'mapgroups:preferences' mapgroup.pk mapgroup.slug %}">
    {% csrf_token %}
    {{ preferences_form.as_p }}
    <script>
        document.querySelector('#id_show_real_name').onclick = function() {
            this.form.submit();
        };
    </script>
</form>

{% else %}
<h3>Join this Group</h3>

You are NOT a member of this group.

{% if mapgroup.is_open %}
(open)
<form method="POST" action="{% url 'mapgroups:join' mapgroup.pk mapgroup.slug %}">
    {% csrf_token %}
    <input type="submit" value="Click this button">
</form>
{% else %}
(closed)
<form method="POST" action="{% url 'mapgroups:request-join' mapgroup.pk mapgroup.slug %}">
    {% csrf_token %}
    <input type="submit" value="Click this button">
</form>
{% endif %}
{% endif %}

<hr>

<p>Members:</p>
<ol>
    {% for member in mapgroup.mapgroupmember_set.all %}
    <li>
        <img src="{{ member.user.userdata.profile_image }}" width="32" height="32" />

        {% if membership and member.show_real_name %}
            <b>{{ member.user.get_full_name }}</b> (Show real name) I={{ member.user.id }}
        {% else %}
            Don't show real name
            <b>{{ member.user.get_short_name }}</b> I={{ member.user.id }}
        {% endif %}

        {% if member.user == mapgroup.owner %}
            (owner)
        {% endif %}
    </li>
    {% endfor %}
</ol>


{% endblock %}
