{% load webdesign %}
<!--<div style="float:left; width: 200px; height: 200px; border: 1px solid black">-->
<!--Hi, I'm group {{ mapgroup.name }}<br>-->
<!--My url is <a href="{% url 'mapgroups:detail' mapgroup.pk mapgroup.slug %}">{{ mapgroup.name }}</a> <br />-->
<!--</div>-->

<div class="detail">
    <div class="feature">
        <a style="width: 345px; height:194px" href="{% url 'mapgroups:detail' mapgroup.pk mapgroup.slug %}">

        </a>
    </div>
    <div class="media">
        <div class="media-left media-detail">
            <div class="media-inner">
                <a href="{{ item.url }}">
                    <div class="month">[Yy]</div>
                    <div class="badge">[Xx]</div>
                </a>
            </div>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="{% url 'mapgroups:detail' mapgroup.pk mapgroup.slug %}">{{ mapgroup.name }}</a></h4>
            <div class="item-text">{{ mapgroup.blurb }}</div>
        </div>
    </div>
</div>
